@charset "UTF-8";
@import url("../fonts/fonts.css");
.download {
  display: flex;
}

.subV-img img, .subV-img, .subV .inner {
  width: 100%;
  height: 100%;
}

.g {
  color: #258968;
}

.r {
  color: #F0532A;
}

.b {
  color: #222;
}

.hidden {
  display: none !important;
}

.bold {
  font-weight: 600 !important;
}

.title {
  font-size: 42px;
  text-align: center;
  margin-top: 50px;
}

.main {
  margin-bottom: 120px;
}

.pointer {
  cursor: pointer;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.download {
  display: flex;
}

.subV-img img, .subV-img, .subV .inner {
  width: 100%;
  height: 100%;
}

.g {
  color: #258968;
}

.r {
  color: #F0532A;
}

.b {
  color: #222;
}

.hidden {
  display: none !important;
}

.bold {
  font-weight: 600 !important;
}

.title {
  font-size: 42px;
  text-align: center;
  margin-top: 50px;
}

.main {
  margin-bottom: 120px;
}

.pointer {
  cursor: pointer;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.sub {
  margin-top: 120px;
}

.subtitle {
  font-size: 17px;
  text-align: center;
}

.subV {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.subV-img {
  position: relative;
}
.scroll-down {
  width: 20px;
  height: 40px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 8%;
  border: 1px solid #fff;
  border-radius: 60px;
}
.scroll-down::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

.scroll p {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 5%;
  color: #fff;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}
.line::after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  background: #258968;
  margin: 30px auto;
}

.radio_box {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  padding-left: 25px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* 기본 라디오 버튼 숨기기 */
.radio_box input[type=radio], .radio_box input[type=checkbox] {
  display: none;
}

/* 선택되지 않은 라디오 버튼 스타일 꾸미기 */
.on {
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

/* 선택된 라디오 버튼 스타일 꾸미기 */
.radio_box {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  padding-left: 25px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* 기본 라디오 버튼 숨기기 */
.radio_box input[type=radio], .radio_box input[type=checkbox] {
  display: none;
}

/* 선택된 라디오 버튼 스타일 꾸미기 */
.radio_box {
  /* 선택되지 않은 라디오 버튼 스타일 꾸미기 */
}
.radio_box input[type=radio]:checked + .on, .radio_box input[type=checkbox]:checked + .on {
  background: #009FA8;
}
.radio_box input[type=radio]:checked + .on::after, .radio_box input[type=checkbox]:checked + .on::after {
  content: "";
  position: absolute;
  display: none;
}
.radio_box input[type=radio]:checked + .on::after, .radio_box input[type=checkbox]:checked + .on::after {
  display: block;
}
.radio_box .on {
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 0;
}
.radio_box .on::after {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.download {
  margin-top: 50px;
  flex-direction: column;
  color: #F0532A;
}
.download a {
  font-size: 15px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.download a i {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #F0532A;
}

.list-btn {
  margin-top: 50px;
  text-align: center;
}
.list-btn a {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 15px 50px;
  border: none;
  background: #F0532A;
  color: #fff;
  border-radius: 5px;
  font-size: 17px;
}

@media (max-width: 1280px) {
  .sub {
    margin-top: 9.38vw;
  }
}
@media (max-width: 1024px) {
  .line::after {
    margin: 2.93vw auto;
  }
  .radio_box {
    padding-left: 2.44vw;
  }
  .radio_box .on {
    width: 1.95vw;
    height: 1.95vw;
  }
  .radio_box .on::after {
    width: 0.98vw;
    height: 0.98vw;
    left: 0.49vw;
    top: 0.49vw;
  }
  .download a {
    font-size: 1.46vw;
  }
  .download a i {
    font-size: 1.46vw;
  }
  .list-btn {
    margin-top: 4.88vw;
  }
  .list-btn a {
    width: 14.65vw;
    padding: 1.46vw 4.88vw;
    font-size: 1.66vw;
  }
}
@media (max-width: 768px) {
  .subV {
    height: 119.66vw;
  }
  .line::after {
    margin: 23px auto;
  }
  .radio_box {
    padding-left: 19px;
  }
  .radio_box .on {
    width: 15px;
    height: 15px;
  }
  .radio_box .on::after {
    width: 8px;
    height: 8px;
    left: 3.5px;
    top: 3.5px;
  }
  .download a {
    font-size: 11px;
  }
  .download a i {
    font-size: 11px;
  }
  .list-btn {
    margin-top: 37px;
  }
  .list-btn a {
    width: 113px;
    padding: 11px 37px;
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .sub {
    margin-top: 56px;
  }
  .scroll-down {
    width: 3.33vw;
    height: 6.67vw;
  }
}
@media (max-width: 480px) {
  .scroll-down {
    width: 16px;
    height: 32px;
  }
}/*# sourceMappingURL=sub_common.css.map */